GAMA/.metadata
GAMA/.cache
.built*
.gama*
/.vscode

*.nc
/data/data_archives
/data/rain/rainfield_files

/Resources
/data/model/DEM/high_res.tif
/data/model/DEM/high_res/high_res.tif
data/model/test3.tif